<section class="delivery-header">
	<div class="container">
		<h2 class="delivery-header__title">
			Politique de retour et d'échange
		</h2>
		<p class="delivery-header__descr">
			<strong>NOUS PRENONS AU SERIEUX LA QUALITE DE NOTRE TRAVAIL ET LA SATISFACTION DE NOS CLIENTS</strong>
		</p>
		<p class="delivery-header__text">
			Nous voulons que votre expérience d'achat avec nous soit la meilleure possible.
		</p>
		<p class="delivery-header__text">
			Sur cette page, vous pouvez lire comment retourner des articles endommagés et annuler une commande.
		</p>
	</div>
</section>
