<section class="faq">
	<div class="container">
		<ul class="faq-list">
			<li class="faq-list__item faq-list__item--active">
			<div tabindex="-1" for="faq-1" class="faq-list__item-title">
				COMMENT ANNULER UN ACHAT IMMÉDIATEMENT
			</div>
			<div class="faq-list__descr">
				<p>
					Veuillez noter que nous ne débiterons pas votre carte de crédit tant que votre article n'aura pas été expédié de notre entrepôt. Si vous souhaitez annuler votre commande avant que cela ne se produise, veuillez contacter immédiatement notre service client et nous nous efforcerons de retenir le colis avant qu'il soit expédié. Normalement, les produits sont expédiés le jour de la commande.
					<br>
					<span>
						Si vous souhaitez annuler votre commande, veuillez envoyer un e-mail à notre <strong><a href="#">service client</a></strong> avec pour objet "annulation" et votre numéro de commande afin que nous puissions gérer correctement votre commande.
					</span>
					<br>
					<br>
					En raison de notre processus d'expédition rapide, nous ne pouvons pas garantir que chaque commande sera annulée en temps opportun. Nous vous rembourserons le montant que vous avez versé dans un délai maximum de 15 jours.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-2" class="faq-list__item-title">
				NOUS ACCEPTONS LE RETOUR DU PRODUIT MÊME SI LE CLIENT A DÉJÀ REÇU LA COMMANDE
			</div>
			<div class="faq-list__descr">
				<p>
					Si vous n'êtes pas entièrement satisfait de votre achat, nous vous offrons la possibilité de retourner l'article dans les 14 jours calendaires suivant sa réception.
					<br>
					<br>
					Tous les articles doivent être retournés dans leur emballage d'origine, scellés, non ouverts, non utilisés et non endommagés, et propres à la revente.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-3" class="faq-list__item-title">
				COMMENT RETOURNER L'ACHAT
			</div>
			<div class="faq-list__descr">
				<p>
					Si vous souhaitez retourner un article, <span>veuillez d'abord contacter notre service client par e-mail</span> (<a href="#">veuillez cliquer ici</a>). Si nous ne recevons pas de notification de votre part, un remboursement ne peut être garanti.
					<br>
					<br>
					Les frais de retour payés par l'acheteur ne sont pas remboursables.
					<br>
					<br>
					<span>Adresse de retour :<br>
            Keto Dual System  <br>
					</span>
          Вставить ниже актуальные данные компании <br>
					Radioweg 24<br>
					1324 KP Almere<br>
					Niederlande<br>
					<br>
					Veuillez ne rien retourner sans avoir d'abord été examiné par notre représentant du service client (<a href="#">veuillez cliquer ici</a>). Dès réception de votre retour, nous vous rembourserons votre paiement sous 15 jours maximum.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-4" class="faq-list__item-title">
				ARTICLE ENDOMMAGÉ
			</div>
			<div class="faq-list__descr">
				<p>
					Si le produit est endommagé, nous serons heureux de vous envoyer un remplacement. Veuillez contacter notre service client et nous envoyer des photos de l'emballage et des produits à l'intérieur. Toutefois, si l'emballage est déjà visiblement endommagé lors de la remise du produit par le coursier au client, veuillez refuser immédiatement l'acceptation et contactez-nous. Veuillez noter qu'une réclamation pour les articles endommagés doit être faite dans les 7 premiers jours suivant la livraison.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-4" class="faq-list__item-title">
				COMMENT OBTENIR UN REMBOURSEMENT ?
			</div>
			<div class="faq-list__descr">
				<p>
					Une fois votre retour reçu et vérifié, notre équipe du service client vous contactera pour vous informer que nous avons reçu votre article retourné. Nous vous informerons également si votre remboursement sera approuvé ou refusé. S'il est approuvé, votre remboursement sera traité et l'argent sera retourné sur votre compte bancaire.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-4" class="faq-list__item-title">
				RETARD OU ABSENCE DU REMBOURSEMENT
			</div>
			<div class="faq-list__descr">
				<p>
					Si vous n'avez pas encore reçu le montant de votre crédit, veuillez d'abord vérifier à nouveau votre compte. Contactez ensuite votre compagnie de carte de crédit, cela peut prendre un certain temps avant que votre retour ne soit officiellement approuvé. Ensuite, contactez votre banque. Il y a souvent une période de traitement avant qu'un remboursement ne soit versé. Si vous avez déjà fait tout cela et que vous n'avez toujours pas reçu votre remboursement, veuillez contacter notre service client.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-4" class="faq-list__item-title">
				CADEAUX ET PROMOTIONS GRATUITS NE SONT PAS REMBOURSABLES NI ECHANGEABLES
			</div>
			<div class="faq-list__descr">
				<p>
					Nous ne remboursons ni n'acceptons les retours de cadeaux gratuits ou de matériel promotionnel qui vous sont offerts gratuitement.
				</p>
			</div>
			</li>
			<li class="faq-list__item">
			<div tabindex="-1" for="faq-4" class="faq-list__item-title">
				AVEZ-VOUS DES QUESTIONS?
			</div>
			<div class="faq-list__descr">
				<p>
					Veuillez contacter notre <a href="#">service client</a> pour plus d'assistance.
				</p>
			</div>
			</li>
		</ul>
	</div>
</section>

