<div class="popup-wrapper">
  <div class="popup">
    <div class="popup-header">
      <h3 class="popup-title">
        <i class="fa fa-globe fa-1x"></i> Veuillez sélectionner votre pays
      </h3>
      <button class="popup-close">
        <span></span>
        <span></span>
      </button>
    </div>
    <ul class="popup-list">
      <li>
        <a href="" class="popup-list-item" data-country="BE">
          <img src="img/be.png" alt="">
          <span>Belgique</span>
        </a>
      </li>
      <li>
        <a href="" class="popup-list-item" data-country="FR">
          <img src="img/fr.png" alt="">
          <span>France</span>
        </a>
      </li>
      <li>
        <a href="" class="popup-list-item" data-country="CA">
          <img src="img/ca.png" alt="">
          <span>Canada</span>
        </a>
      </li>
    </ul>
    <div class="popup-footer">
      <button class="popup-close-btn">
        Fermer
      </button>
    </div>
  </div>
</div>
