<section class="prices-slider">
  <div class="container">
    <div class="slides-input">

    </div>
    <div class="prices-slider__wrapper">

      <!-- Slider item -->
      <div class="prices-slider__item">
        <input type="radio" id="pack-1" name="slides" value="pack-1">
        <label for="pack-1" class="prices__item">
          <div class="prices__item-inner">
            <div class="prices__item-lastsale">
              <strong>Dernière vente</strong>
              <span>il y a 17 heures</span>
            </div>

            <h3 class="prices__item-title">
              Pour les débutants
            </h3>

            <div class="prices__item-pack prices__item-pack-1"></div>

            <div class="prices__item-info">
              <h4>1 paquet</h4>
              <p>
                Avec un paquet de Keto Dual System, vous pouvez vous débarrasser de l'excès de poids dans une zone à problèmes.
              </p>
              <ul class="prices__item-info__list">
                <li>
                  Vous recevrez 1 paquet de Keto Dual System
                </li>
                <li>
                  Frais de livraison 4,95 EUR
                </li>
              </ul>

              <div class="prices__item-price">
                <p class="prices__item-price__text">
                  <span class="big">49,95 €</span>
                  <br>
                  Prix d'un paquet
                </p>

                <span class="prices__item-price__total">
                  Coût total 54,90 €
                </span>
              </div>
              <div class="prices__item-payterm">
                <div class="prices__item-payterm__bank">
                  Klarna.
                </div>
                <div class="prices__item-payterm__text">
                  Paiement dans les 30 jours.  <br>
                  <a href="" class="prices__item-payterm__link">Savoir plus...</a>
                </div>
              </div>
            </div>

            <a href="#form" class="prices__item-payterm__btn">Choisir</a>
          </div>
          <div class="prices__item-rate">
            <ul class="rate-list">
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
            </ul>
            <span>Avis des clients <b>4.6/5</b></span> <br>
            <a href="#reviews"><i class="fa fa-arrow-down"></i> Vers les avis</a>
          </div>

        </label>
      </div>
      <!-- End slider item -->

      <!-- Slider item -->
      <div class="prices-slider__item">
        <input type="radio" id="pack-3" name="slides" value="pack-3" checked>
        <label for="pack-3" class="prices__item">
          <div class="prices__item-inner">
            <div class="prices__item-lastsale">
              <strong>Dernière vente</strong>
              <span>il y a 19 secondes</span>
            </div>

            <h3 class="prices__item-title">
              Succès rapide
            </h3>

            <div class="prices__item-pack prices__item-pack-3"></div>

            <div class="prices__item-info">
              <h4>3 paquets</h4>
              <p>
                Ce traitement est destiné aux personnes qui veulent vraiment changer leur vie.
              </p>
              <ul class="prices__item-info__list">
                <li>
                  Vous recevrez 3 paquets de Keto Dual System
                </li>
                <li class="prices__item-info--accent">
                  Et économiserez 46 % en achetant plusieurs paquets pour le traitement
                </li>
                <li class="prices__item-info--accent">
                  Livraison gratuite
                </li>
              </ul>

              <div class="prices__item-price">
                <p class="prices__item-price__text">
                  <span class="big">36,65 €</span>
                  <br>
                  Prix d'un paquet
                </p>

                <span class="prices__item-price__total">
                  Coût total 109,95 €
                </span>
              </div>
              <div class="prices__item-payterm">
                <div class="prices__item-payterm__bank">
                  Klarna.
                </div>
                <div class="prices__item-payterm__text">
                  18,86 €/mois en versements semestriels. <br>
                  <a href="" class="prices__item-payterm__link">Savoir plus...</a>
                </div>
              </div>
            </div>

            <a href="#form" class="prices__item-payterm__btn">Choisir</a>
          </div>
          <div class="prices__item-rate">
            <ul class="rate-list">
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
            </ul>
            <span>Avis des clients <b>4.6/5</b></span> <br>
            <a href="#reviews"><i class="fa fa-arrow-down"></i> Vers les avis</a>
          </div>

        </label>
      </div>
       <!-- End slider item -->

      <!-- Slider item -->
      <div class="prices-slider__item">
        <input type="radio" id="pack-2" name="slides" value="pack-2">
        <label for="pack-2" class="prices__item">
          <div class="prices__item-inner">
            <div class="prices__item-lastsale">
              <strong>Dernière vente</strong>
              <span>il y a 42 minutes</span>
            </div>

            <h3 class="prices__item-title">
              Meilleur vendeur
            </h3>

            <div class="prices__item-pack prices__item-pack-2"></div>

            <div class="prices__item-info">
              <h4>2 paquets</h4>
              <p>
                La plupart de ceux qui ont choisi ce traitement ont par la suite noté qu'après environ 4 semaines d'utilisation du Keto Dual System, ils devaient se rendre au magasin pour acheter de nouveaux vêtements. Les anciens étaient trop grands pour être portés.
              </p>
              <ul class="prices__item-info__list">
                <li>
                  Vous recevrez 2 paquets de Keto Dual System
                </li>
                <li class="prices__item-info--accent">
                  Et économiserez 27 % en achetant plusieurs paquets pour le traitement
                </li>
                <li class="prices__item-info--accent">
                  Livraison gratuite
                </li>
              </ul>

              <div class="prices__item-price">
                <p class="prices__item-price__text">
                  <span class="big">39,97 €</span>
                  <br>
                  Prix d'un paquet
                </p>

                <span class="prices__item-price__total">
                  Coût total 79,95 €
                </span>
              </div>
              <div class="prices__item-payterm">
                <div class="prices__item-payterm__bank">
                  Klarna.
                </div>
                <div class="prices__item-payterm__text">
                  Paiement dans les 30 jours. <br>
                  <a href="" class="prices__item-payterm__link">Savoir plus...</a>
                </div>
              </div>
            </div>

            <a href="#form" class="prices__item-payterm__btn">Choisir</a>
          </div>
          <div class="prices__item-rate">
            <ul class="rate-list">
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
              <li>
                <svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                  </svg>
              </li>
            </ul>
            <span>Avis des clients <b>4.6/5</b></span> <br>
            <a href="#reviews"><i class="fa fa-arrow-down"></i> Vers les avis</a>
          </div>

        </label>
      </div>
      <!-- End slider item -->

    </div>
    <button class="prices-slider__btn prices-slider__btn--prev" type="button"><i class="fa-solid fa-angle-left"></i></button>
      <button class="prices-slider__btn prices-slider__btn--next" type="button"><i class="fa-solid fa-angle-right"></i></button>
  </div>
</section>
