<section class="benifits">
  <div class="container">
    <ul class="benifits-list">
      <li class="benifits__item">
        <div class="benifits__item-icon">
          <i class="organik organik-delivery"></i>
        </div>
        <div class="benifits__item-info">
          <h4 class="benifits__item-title">
            Livraison express
          </h4>
          <p class="benifits__item-descr">
            Disponible pour les commandes dans tout le pays
          </p>
        </div>
      </li>
      <li class="benifits__item">
        <div class="benifits__item-icon">
          <i class="organik organik-hours-support"></i>
        </div>
        <div class="benifits__item-info">
          <h4 class="benifits__item-title">
            Service 24h/24
          </h4>
          <p class="benifits__item-descr">
            Service client 24h/24 et 7j/7
          </p>
        </div>
      </li>
      <li class="benifits__item">
        <div class="benifits__item-icon">
          <i class="organik organik-credit-card"></i>
        </div>
        <div class="benifits__item-info">
          <h4 class="benifits__item-title">
            Paiement sécurisé
          </h4>
          <p class="benifits__item-descr">
            Cryptage SSL
          </p>
        </div>
      </li>
      <li class="benifits__item">
        <div class="benifits__item-icon">
          <i class="organik organik-lettuce"></i>
        </div>
        <div class="benifits__item-info">
          <h4 class="benifits__item-title">
            Composition du produit 100% naturelle
          </h4>
          <p class="benifits__item-descr">
            Pour une utilisation en toute sécurité
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
