<section class="composition">
	<div class="container">
		<div class="composition-item">
			<div class="composition-item__img">
				<picture>
					<source srcset="img/photo-f-1.webp" type="image/webp">
					<img loading="lazy" src="img/photo-f-1.png" alt="">
				</picture>
			</div>
			<div class="composition-info">
				<h3 class="composition-info__title">
					Leucine
				</h3>
				<p class="composition-info__text">
					Est un acide aminé essentiel à l'organisme,  aide à augmenter la production d'énergie et la synthèse des protéines musculaires pendant l'exercice. Ainsi, il favorise une combustion plus rapide des graisses corporelles et améliore la régénération musculaire et les performances physiques.
				</p>
			</div>
		</div>

		<div class="composition-item composition-item--left">
			<div class="composition-item__img">
				<picture>
					<source srcset="img/photo-f-2.webp" type="image/webp">
					<img loading="lazy" src="img/photo-f-2.png" alt="">
				</picture>
			</div>
			<div class="composition-info">
				<h3 class="composition-info__title">
					Glutamine
				</h3>
				<p class="composition-info__text">
					C'est l'un des acides aminés les plus importants du corps humain. Il participe à la formation des fibres musculaires, à la synthèse d'autres acides aminés et de l'acide folique. La glutamine aide à gagner de la masse musculaire, à perdre du poids et à renforcer le système immunitaire.
				</p>
			</div>
		</div>

		<div class="composition-item">
			<div class="composition-item__img">
				<picture>
					<source srcset="img/photo-f-3.webp" type="image/webp">
					<img loading="lazy" src="img/photo-f-3.png" alt="">
				</picture>
			</div>
			<div class="composition-info">
				<h3 class="composition-info__title">
					Extrait de guarana
				</h3>
				<p class="composition-info__text">
					Le guarana est un puissant stimulant pour perdre du poids et augmenter l'endurance pendant les entraînements. L'action du guarana est identique à la consommation de caféine : excitation du système nerveux, augmentation de l'endurance et suppression de la somnolence. L'effet principal du guarana dans le corps: dynamise, démarre le processus de combustion des graisses dans le corps, réduit l'appétit.
				</p>
			</div>
		</div>
	</div>
</section>
