<section class="information">
  <div class="container">
    <h2 class="information__title">Avec Keto Dual System, vous pourrez atteindre rapidement le poids souhaité.</h2>
    <div class="information__block">
      <div class="information__block-column">
        <p>
          Pour une perte de poids intense, associez Keto Dual System à une alimentation équilibrée.
        </p>
        <h3>Application</h3>
        <p>
          Utilisez Keto Dual System deux fois par jour : le matin et le soir une demi-heure avant les repas.
        </p>
        <p>
          Prendre 2 gélules à la fois, une de chaque plaquette. Prendre les gélules avec une quantité suffisante de liquide (par exemple, 1 verre d'eau).
        </p>
      </div>
      <div class="information__block-column">
        <h2>Durée d'admission</h2>
        <p>
          La durée minimale recommandée de traitement est de 35 jours.
        </p>
        <p>
          Le traitement assure le résultat pour une longue période et empêche la reprise du poids après sa fin.
        </p>
      </div>
    </div>
  </div>
</section>
