<section class="ingredients">
  <div class="container">
    <div class="ingredients-content">
      <div class="ingredients-content__left">
        <picture>
          <source srcset="img/photo-02.webp" type="image/webp">
          <img loading="lazy" class="ingredients__pack" src="img/photo-02.png" alt="">
        </picture>
      </div>
      <div class="ingredients-content__right">
        <figure class="table">
          <table>
            <thead>
              <tr>
                <th>QUANTITE DE SUBSTANCE ACTIVE DANS 1 GELULE </th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>deux differentes pilules pour brûler rapidement un maximum de graisses</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>HMB Calcium</td>
                <td>60mg.</td>
              </tr>
              <tr>
                <td>Leucine</td>
                <td>5mg.</td>
              </tr>
              <tr>
                <td>Glutamine</td>
                <td>5mg.</td>
              </tr>
            </tbody>
          </table>
        </figure>
        <p>
          <br>
          <strong>Composé:</strong> <br>
          Gélule A : Hydroxyméthylbutyrate de calcium (HMB Calcium), Oxyde de magnésium, Bicarbonate de potassium, Bicarbonate de sodium, Chlorhydrate de pyridoxine, Cholécalciférol 0,25 %, Chlorhydrate de L-lysine, L-leucine, L-glutamine, Extrait de gingembre, Extrait de guarana 12 % de caféine, Stéarate de magnésium , Dioxyde de silicium, Cellulose microcristalline, Gélatine. <br> <br>
          Gélule B : Acide linoléique conjugué, Gélatine, Glycérol, Caramel.
        </p>

        <a href="prices.html" class="ingredients__btn">
          <!-- <i class="fas fa-arrow-circle-right"></i> -->
          Commandez maintenant!
          <span>Vendu sans ordonnance</span>
        </a>
      </div>
    </div>
  </div>
</section>
