<section class="reason">
  <div class="container">
    <div class="reason__body">
      <div class="reason__column">
        <picture>
          <source srcset="img/pills.webp" type="image/webp">
          <img loading="lazy" class="reason__img" src="img/pills.png" alt="">
        </picture>
      </div>
      <div class="reason__column">
        <h2>
          Qu'est-ce que Keto Dual System?
        </h2>
        <p>
          Keto Dual System: c'est une innovation dans le monde, qui contient deux differentes pilules spécialement sélectionnées qui amènent rapidement et en toute sécurité le corps dans un état de cétose - le processus de combustion intensive de l'excès de graisse et de sa transformation en énergie. Le produit est tout aussi efficace pour les hommes et les femmes de tout âge.
        </p>
        <p>
          30 minutes après la prise du produit, le processus de la cétose sera enclenché dans le corps. Grâce à cela, il va  permettre l'élimination des graisses, une amélioration des performances physiques, une augmentation de l'énergie et de l'activité mentale. L'utilisation régulière de Keto Dual System a un effet général sur la santé de tout le corps, améliore le bien-être et renforce le système immunitaire.
        </p>
        <p>
          Keto Dual System fournit au corps des nutriments essentiels. C'est pourquoi, en plus de la formation d'une belle silhouette corporelle, vous obtenez une peau lisse et tonique, nourrie de vitamines, de minéraux et d'acides gras bénéfiques. Cela garantit l'absence de vergetures et de relâchement cutané avec la perte de poids importante qui se produit avec la prise de doubles capsules.
        </p>
        <p>
          Keto Dual System combiné avec le bon régime vous permettra d'atteindre la perte de poids en peu de temps.
        </p>
      </div>
    </div>
  </div>
</section>
