<header class="index-top" id="header">
  <div class="container">
    <!-- Menu -->
    @include('../menu.html')
  </div>
  <!-- Main -->
  <div class="index-top-main">
    <div class="index-top-main__info">
      <h1>
        AIDE ACCRUE À LA GESTION DU POIDS
      </h1>
      <a class="index-top-main__btn" href="prices.html">
        <!-- <i class="fas fa-arrow-circle-right"></i> -->
        Commandez maintenant!
        <span>Vendu sans ordonnance</span>
      </a>
    </div>
  </div>

  <!-- End Main -->
</header>
