
<seсtion class="privacy-body">
	<div class="container">
		<div class="privacy-body__content">
			<p>
				Au 8 septembre 2022
			</p>
			<p>
				Lors de la livraison des produits, Keto Dual System traite des données personnelles. Votre vie privée est importante pour nous. Keto Dual System s'engage à respecter la loi sur la protection des données. Cela signifie que vos données personnelles sont en sécurité chez nous et que nous les utilisons toujours correctement. Dans cette politique de confidentialité, nous expliquons ce que nous faisons des informations personnelles que nous recueillons auprès de vous. Si vous avez des questions ou souhaitez savoir exactement ce que nous vous réservons, veuillez contacter le service client.
			</p>
			<br>
			<br>
			<p>
				Finalités du traitement
			</p>
			<p>
				Keto Dual System traite vos données personnelles aux fins suivantes :
			</p>
			<p>
				créer un compte de votre site Web ;
			</p>
			<p>
				vous souscrire ;
			</p>
			<p>
				traiter une commande ;
			</p>
			<p>
				livrer votre commande ;
			</p>
			<p>
				envoyer des e-mails avec des offres ;
			</p>
			<p>
				traiter les questions via le formulaire de contact ;
			</p>
			<p>
				gérer les problèmes avec le support client.
			</p>
			<ul class="privacy-body__list">
				<li class="privacy-body__item">
					<p>
						1. Votre compte
					</p>
					Pendant le processus de paiement, vous devez d'abord vous inscrire. Vous devrez alors fournir des informations personnelles. Vous recevrez un compte utilisateur auquel vous pourrez vous connecter pour consulter, modifier et/ou supprimer des données. Nous utilisons votre nom, adresse, numéro de téléphone, adresse e-mail, adresse IP, adresse de facturation et informations de facturation. Nous avons besoin de ces informations dans le cadre du contrat que nous concluons avec vous. Nous stockons ces informations jusqu'à ce que vous supprimiez votre compte utilisateur, nous stockons également ces informations afin que vous n'ayez pas à les remplir tout le temps et qu'il nous soit plus facile de vous contacter si nécessaire. Vous pouvez modifier les informations de votre compte à tout moment ou annuler votre compte.
				</li>
				<li class="privacy-body__item">
					<p>
						2. Abonnez-vous
					</p>
					Vous pouvez nous suivre lorsque nous utilisons vos informations personnelles pour traiter votre paiement. À cette fin, nous utilisons votre adresse de facturation, votre numéro de téléphone, vos informations de facturation, votre adresse e-mail, votre nom et votre adresse et votre adresse IP.
					<br>
					<br>
					Nous avons besoin de ces informations dans le cadre du contrat que nous concluons avec vous. Nous conservons ces informations pendant deux ans après la résiliation et sept ans après (obligation légale de conservation).
				</li>
				<li class="privacy-body__item">
					<p>
						3. Traitement des commandes
					</p>
					Lorsque vous passez une commande chez nous, nous utilisons vos données personnelles pour traiter correctement la commande. Nous pouvons ensuite transférer vos données personnelles à notre service de livraison afin de vous livrer votre commande. Nous recevons également des informations sur votre paiement de votre banque ou société de carte de crédit. À cette fin, nous utilisons vos informations de paiement, nom et adresse, adresse IP, adresse e-mail, numéro de téléphone et adresse de facturation. Nous sommes légalement tenus de le faire. Nous conservons ces informations jusqu'à la finalisation de votre commande et sept ans plus tard (conservation légale).
				</li>
				<li class="privacy-body__item">
					<p>
						6. Formulaire de contact
					</p>
					Vous pouvez nous poser des questions via le formulaire de contact. Lors de l'utilisation du formulaire de contact, nous vous demandons les données de votre client (adresse e-mail, numéro de téléphone, nom, adresse et numéro de client). Nous conservons ces informations jusqu'à ce que nous soyons convaincus que vous êtes satisfait de notre réponse et pendant six mois par la suite. Ainsi, nous avons des informations à portée de main pour les questions de suivi. Cela nous permet également de former notre service client pour devenir encore meilleur.
				</li>
				<li class="privacy-body__item">
					<p>
						7. Service client
					</p>
					Notre service client est disponible par téléphone et par e-mail. Pour vous aider à répondre rapidement aux questions, nous utilisons vos données et prenons des notes que nous stockons. C'est pratique si vous nous recontactez. Les détails de la conversation et/ou de l'échange de courriels avec vous seront enregistrés. De cette manière, vous nous aidez à analyser et à améliorer nos services.
				</li>
				<li class="privacy-body__item">
					<p>
						Nos fournisseurs de services
					</p>
					Nous travaillons avec certaines entreprises qui peuvent recevoir vos informations personnelles de notre part. A l'exception des partenaires décrits ci-dessus, nous ne partagerons en aucun cas vos données personnelles avec d'autres sociétés ou institutions, sauf si nous y sommes contraints par la loi (par exemple, sur ordre de la police en cas de suspicion d'infraction) .
				</li>
				<li class="privacy-body__item"></li>
			</ul>
			<div class="privacy-body__cookies">
				<h2 class="privacy-body__cookies-title">
					Cookies
				</h2>
				<p>
					Les sites Web utilisent des cookies. Nous utilisons des cookies fonctionnels. Les cookies fonctionnells sont de petits fichiers que nous utilisons pour rendre un site Web plus sécurisé et accessible. Lorsque vous visitez le site Web pour la première fois, nous affichons un message expliquant les cookies. Nous demandons votre autorisation pour utiliser ces cookies.
				</p>
				<br>
				<p>
					La sécurité des données personnelles est très importante pour nous.
				</p>
				<p>
					Pour protéger votre vie privée, nous prenons les mesures suivantes :
				</p>
				<p>
					Pour protéger l'accès aux systèmes qui stockent des données personnelles, nous utilisons des connexions sécurisées (Secure Sockets Layer ou SSL).
				</p>
				<br>
				<br>
				<p>
					Modifications de cette politique de confidentialité
				</p>
				<p>
					Nous mettrons à jour cette déclaration de protection des données si nécessaire. Faites donc toujours attention à la date ci-dessus et revenez régulièrement pour de nouvelles versions. Nous ferons de notre mieux pour publier les modifications séparément.
				</p>
				<br>
				<br>
				<p>
					Vérification, modification et suppression de vos données
				</p>
				<p>
					Si vous avez des questions ou souhaitez savoir quelles données personnelles nous détenons à votre sujet, n'hésitez pas à nous contacter. Vous pouvez également demander que nous corrigions ou supprimions vos données. Si nous traitons vos données personnelles sur la base de votre consentement, vous pouvez toujours retirer votre consentement, après quoi nous arrêterons le traitement.
				</p>
				<p>
					Soyez toujours clair sur qui vous êtes afin que nous puissions être sûrs que nous corrigeons ou supprimons les informations de la bonne personne.
				</p>
				<br>
				<br>
				<p>
					Déposer une plainte
				</p>
				<p>
					Si vous estimez que nous ne vous aidons pas correctement, vous avez le droit de déposer une plainte auprès de l'autorité de contrôle, l'Autorité néerlandaise (française/belge) de protection des données.
				</p>
				<br>
				<br>
				<p>
					Si vous avez des questions après avoir lu cette politique de confidentialité, vous pouvez nous contacter en utilisant les coordonnées ci-dessus.
				</p>
			</div>
			<div class="privacy-body__klarna">
				<h2 class="privacy-body__cookies-title">
					Klarna
				</h2>
				<p>
					Afin de vous proposer des méthodes de paiement Klarna, nous pouvons partager vos données personnelles sous la forme de coordonnées et de détails de commande avec Klarna lors du paiement afin que Klarna puisse évaluer si vous remplissez les conditions requises pour leurs méthodes de paiement et adapter ces méthodes de paiement pour vous. Les données personnelles que vous fournissez sont traitées conformément à l'avis de confidentialité de Klarna.
				</p>
			</div>
		</div>
	</div>
</section>
