<section class="contacts">
  <div class="container">
    <div class="contacts-body">
      <div class="contacts-body__column">
        <div class="section-title">
          <h3>Adresse de retour et d'échange :</h3>
        </div>
        <p>
          Keto Dual System <br>
          Radioweg 24 <br>
          1324 KP Almere <br>
          Niederlande
        </p>

        <div class="section-title">
          <h3>
            Numéro d'identification d'entreprise :
          </h3>
        </div>
        <p>
          74768816
        </p>

        <div class="section-title">
          <h3>
            Numéro d'identification fiscale :
          </h3>
        </div>
        <p>
          NL860019494B01
        </p>
        <div class="section-title">
          <h3>
            TEL.:
          </h3>
        </div>
        <p>
          + 31 (0) 20 7670552
        </p>
        <div class="section-title">
          <h3>
            Adresse enregistrée :
          </h3>
        </div>
        <p>
          Premium Health Europe B.V. <br>
          Zuideinde 79 <br>
          1121DD Landsmeer <br>
          Niederlande
        </p>
      </div>
      <div class="contacts-body__column">
        <div class="section-title">
          <h3>
            Nous contacter
          </h3>
        </div>
        <div class="section-title">
          <h3>
            Adresse e-mail :
          </h3>
        </div>
        <p>
          <a href="mailto:mail@prima-abnehmen.com">mail@prima-abnehmen.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
