.form-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: 1px solid var(--input-border);
    padding: 1rem;
    &__item {
      border-bottom: 1px solid var(--input-border);
      width: 100%;
      display: block;
      margin-left: auto;
      margin-bottom: 20px;
    }
    &__label {
      display: block;
      margin-bottom: 0.5rem;
    }
    &__input {
      display: block;
      border: 1px solid var(--input-border);
      padding: 0.375rem 0.75rem;
      width: 100%;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      color: var(--input-text);
    }
    input {
      margin-bottom: 1rem;
    }
    input:focus, textarea:focus {
      outline: 0;
      -webkit-box-shadow: var(--blue-shadow);
      box-shadow: var(--blue-shadow);
  }
    &__block {
      width: 100%;
    }
    .comment__rate li svg {
      transform: translate(1, 1);
      fill-rule: nonzero;
      stroke: rgb(255, 143, 0);
    }
    .comment__rate li {
      color: #fff;
    }
    .rate-list {
      justify-content: start;
      margin-bottom: 10px;
    }
    .rate-list li svg {
      width: 20px;
      height: 20px;
    }
    textarea {
      min-height: calc(1.5em + 0.75rem + 2px);
      resize: none;
    }
    &__btn {
      width: auto !important;
    }
    &__box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      input {
        display: block;
        border: 1px solid var(--input-border);
        padding: 0.375rem 0.75rem;
        width: 100%;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        color: var(--input-text);

        &.error {
          border: 1px solid var(--accent-price-info);
        }

        &.confirm {
          border: 1px solid var(--confirm-input);
          box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
        }

        &.error ~ .form__error-box {
          position: relative;
          z-index: -99;
          opacity: 1;
          transform: translateY(0);
        }
      }

      .error-cross,
      .confirm-icon {
        position: absolute;
        opacity: 0;
        transition: all 0.3s;
      }

      .error ~ .error-cross {
        position: absolute;
        right: 10px;
        top: 37px;
        font-size: 1.4rem;
        color: var(--accent-price-info);
        opacity: 1;
      }

      .error {
        &:focus {
          box-shadow: var(--red-shadow);
        }
      }

      .confirm ~ .confirm-icon {
        position: absolute;
        right: 10px;
        top: 37px;
        font-size: 1.4rem;
        color: var(--confirm-input);
        opacity: 1;
      }

      label {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;

        &::after {
          content: "*";
          position: absolute;
          right: -10px;
          top: 0;
          color: var(--accent-price-info);
        }
      }
    }

    &__error-box {
      position: absolute;
      padding: 5px 0;
      font-size: 0.875rem;
      color: var(--accent-price-info);
      opacity: 0;
      transform: translateY(-50%);
      transition: all 0.3s;
    }

    &__box .error:focus {
      -webkit-box-shadow: var(--red-shadow);
      box-shadow: var(--red-shadow);
    }
    &__box input.error ~ .form__error-box {
      position: relative;
      z-index: -99;
      top: -11px;
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
}

.screen-reader {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.rating__item{
  cursor: pointer;  
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  align-items: center;
  margin-bottom: 0.6rem;
}

.rating__star{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke: var(--stars-color);
  color: #fff;
  transition: all .2s ease;
}

.rating:hover .rating__star,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1) .rating__star,
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2) .rating__star,
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3) .rating__star,
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4) .rating__star,
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5) .rating__star{
  stroke: var(--stars-color);
  color: var(--stars-color);
}


.rating__item:hover ~ .rating__item .rating__star{
  color: #fff;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding: 0rem 1rem;
  border: 1px solid rgba(0,0,0,.125);
}

.card-body h3 {
  font-size: 30px;
  margin: 10px 0px;
  @media screen and (max-width:400px) {
    font-size: 24px;
  }
}


