<div class="header-menu">
  <a href="app/index.html" class="header-menu__logo">
    <img src="img/logo.png" alt="">
  </a>
  <ul class="app/header-menu__list">
    <li>
      <a href="app/prices.html">ACHETER MAINTENANT</a>
    </li>
    <li>
      <a href="app/application.html">APPLICATION</a>
    </li>
    <li>
      <a href="app/delivery.html">RETOUR</a>
    </li>
    <li>
      <a href="app/contacts.html">NOUS CONTACTER</a>
    </li>
  </ul>
  <button type="button" class="header-menu__btn ">
    <span class="header-menu__btn-text">MENU</span>
    <span class="header-menu__btn-burger">
      <span></span>
    </span>
  </button>
</div>
<div class="header-mobile__wrapper">
  <ul class="header-menu--mobile">
    <li>
      <a href="app/prices.html">ACHETER MAINTENANT</a>
    </li>
    <li>
      <a href="app/application.html">APPLICATION</a>
    </li>
    <li>
      <a href="app/delivery.html">RETOUR</a>
    </li>
    <li>
      <a href="app/contacts.html">NOUS CONTACTER</a>
    </li>
  </ul>
</div>
<!-- End Menu -->