<section class="faq">
  <div class="container">
    <div class="section-title">
      <h1>
        Questions fréquemment posées:
      </h1>
    </div>

    <ul class="faq-list">
      <li class="faq-list__item">
        <div tabindex="-1" for="faq-1" class="faq-list__item-title">
          J'AI OUBLIÉ DE PRENDRE LES GÉLULES À TEMPS. DOIS-JE PRENDRE UNE DOUBLE DOSE LA PROCHAINE FOIS?
        </div>
        <div class="faq-list__descr">
          <p>
            Si vous avez oublié de prendre les gélules, NE prenez PAS une double dose. Continuez à utiliser le produit comme indiqué.
          </p>
        </div>
      </li>
      <li class="faq-list__item">
        <div tabindex="-1" for="faq-2" class="faq-list__item-title">
          QUEL EST LE NOMBRE MAXIMAL DE CAPSULES QUE JE PEUX PRENDRE PAR JOUR?
        </div>
        <div class="faq-list__descr">
          <p>
            Il est recommandé de prendre 4 gélules par jour.
          </p>
        </div>
      </li>
      <li class="faq-list__item">
        <div tabindex="-1" for="faq-3" class="faq-list__item-title">
          JE SUIS ENCEINTE. PUIS-JE PRENDRE LES CAPSULES?
        </div>
        <div class="faq-list__descr">
          <p>
            Nous vous déconseillons de les prendre si vous êtes enceinte ou si vous venez de devenir maman.
          </p>
        </div>
      </li>
      <li class="faq-list__item">
        <div tabindex="-1" for="faq-4" class="faq-list__item-title">
          À QUI CONVIENT LES CAPSULES?
        </div>
        <div class="faq-list__descr">
          <p>
            Les gélules conviennent aussi bien aux femmes qu'aux hommes de plus de 18 ans.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
