<section class="side-effects">
  <div class="container">
    <div class="section-title">
      <h1>
        Effets secondaires:
      </h1>
    </div>
    <ul class="side-effects__list">
      <li>
        Le produit n'a pas d'effets secondaires.
      </li>
      <li>
        La prise de gélules n'affecte pas l'utilisation des pilules contraceptives.
      </li>
      <li>
        En prenant les gélules, vous pouvez conduire une voiture. Le produit n'affecte pas la concentration et la vitesse des réactions.
      </li>
    </ul>
  </div>
</section>
